* {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-style: normal;
}

.button_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 520px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.btn {
  background-color: #8bb5d2;
  font-size: 20px;
  border-radius: 14px;
  width: 250px;
}

.recolor {
  background-color: #6afbdc;
}

.all-elements {
  width: 1110px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

.product-selection__title {
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  text-align: center;
  color: #515076;
  text-align: center;
  margin-top: 220px;
  margin-bottom: auto;
}

.background-picture {
  background: url("/images/bg-dandelions.png");
  background-repeat: no-repeat;
}

.product-card__descr,
.product-card__text,
.product-card__descr,
.product-card__item {
  font-weight: 400;
  font-style: Regular;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
}

.product-card__wrapper {
  width: 1110px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  gap: 45px;
  margin-bottom: 116px;
  margin-top: 110px;
}

.product-card {
  width: 340px;
  height: 573px;
  background-color: #F7F7FA;
  padding: 25px;

}

.product-card__img {
  width: 290px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.product-card__for-skin {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
  color: #A5A3B9;
}

.product-card__title {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 27px;
  margin: auto;
  margin-bottom: 5px;
  color: #515076;
}

.product-card__descr {
  margin: auto;
  margin-bottom: 15px;
}

.product-card__list {
  list-style-position: inside;
  padding-left: 0;
  margin: auto;
}

.product-card__item {
  margin-top: 5px;
}

.product-card__price-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.product-card__price-text {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  color: #515076;
}

.product-card__price {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  color: #515076;
}